doctype html
head
    title OPSE API
    style !{STYLE}
    
    script(src="//kit.fontawesome.com/7e8647c319.js")
    script(src="//code.jquery.com/jquery-3.5.1.min.js")
    script(src="//code.jquery.com/ui/1.12.1/jquery-ui.min.js")
    script(src="//cdn.jsdelivr.net/npm/@popperjs/core@2.6.0/dist/umd/popper.min.js")
    script(src="//cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.min.js")
    script(src="//cdn.jsdelivr.net/npm/sweetalert2@10")

    link(rel="stylesheet" href="//cdn.jsdelivr.net/npm/@sweetalert2/themes@4.0.2/wordpress-admin/wordpress-admin.min.css")

body.bg-dark
    .py-3.px-5
        nav.navbar.navbar-expand-lg.navbar-light.bg-light.rounded.font-weight-bold
            .container-fluid
                .navbar-brand.mr-4
                    img(src="/assets/logos/icon.png" alt="logo" height="24")
                button.navbar-toggler(type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown")
                    span.navbar-toggler-icon

                #navbarNavDropdown.collapse.navbar-collapse
                    ul.navbar-nav
                        li.nav-item
                            a.nav-link(href="/admin/dashboard") Dashboard

                        li.nav-item
                            a.nav-link.disabled(href="/admin/schedule" tabindex="-1") Schedule

                        li.nav-item.dropdown.active
                            a.nav-link.dropdown-toggle(href="#" role="button" data-bs-toggle="dropdown") League of Legends
                            ul.dropdown-menu
                                li
                                    a.dropdown-item.disabled(href="/admin/lol-games/champ-stats" tabindex="-1") Champion Stats

                                li
                                    a.dropdown-item(href="/admin/lol-games/match-history") Match History
                
                span.navbar-text OPSE API - v#{VERSION}

    .py-3.px-5.my-3
        h1.text-light.mb-4 LoL - Match History
        .card
            -var GAME_KEYS = Object.keys(GAMES)
            .card-body.row
                .col-3
                    .list-group
                    each KEY in GAME_KEYS
                        button.list-group-item.list-group-item-action !{GAMES[KEY].meta.des}

                .col
                    h2 TEST

                
        

    script.
