@import url(/css/bootstrap.min.css);
@import url(https://fonts.googleapis.com/css?family=Jura|Saira);

$opse-red: #D7282F;
$opse-blue: #101820;

$white: #F0F0F0;

* { scroll-behavior: smooth; }

body { font-family: Saira, sans-serif; }

.text-dark {
    opacity: 1 !important;
}